.DS_store
.direnv
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
.idea/
.vscode/
# Ignore the .env file that may contain sensitive information
.env
# Ignore the .ollama directory that may contain model data
.ollama/
scripts/data

.pytest_cache/
.venv/
